body{
    background-color: #333333;
    margin: 0;
    padding: 0;
}
.titulo{
    color: #fff;
}
 .contenedor{
    margin: 0 auto;
    width: 300px; 
} 
.bandera{
    
    margin: 1rem 0;
    width: 300px;
    height: 200px;
    /* display: flex;
    justify-content: center;
    align-content: center; */

}
.ale1{
    background-color: black;
    height: 33.33%;
}
.ale2{
    background-color: #dd0000;
    height: 33.33%;
}
.ale3{
    background-color: #ffce00;
    height: 33.33%;
}

.fran1{
    background-color: #0055A4;
    width: 33.33%;
    height: 100%;
    float: left;
}

.fran2{
    background-color:#FFFFFF;
    width: 33.33%;
    height: 100%;
    float: left;
}

.fran3{
    background-color:#EF4135;
    width: 33.33%;
    height: 100%;
    float: left;
}

.arg1{
    background-color: #75aadb;
    height: 33.33%;
}

.arg2{
    background-color: #ffffff;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.arg3{
    background-color: #75aadb;
    height: 33.33%;

}
.iconsize8{
    height: 100%;
    width: 20%;  
}
 .mex1{
    background-color: #006847;
    width: 33.3%;
    height: 100%;
    float: left;
 }

 .mex2{
    background-color: white;
    width: 33.3%;
    height: 100%; 
    float: left; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
 }
 .mex3{
    background-color: #CE1125;
    width: 33.3%;
    height: 100%;
    float: left;
 }

 .iconsize4{
     height: 40%;
 }
 